* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.nav-link {
  font-weight: bold;
}

#sattva {
  font-family: "Georgia", serif;
  /* font-size: 2.5em; */
  font-weight: bold;
  color: white;
  /* text-align: center; Center the text */
  /* margin-top: 20px; */
}

.carousel-inner img {
  margin-left: 15%;
  margin-right: 15%;
  display: inline-block;
  text-align: center;
  width: 70%;
  height: 90vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: sticky;
  bottom: 0;
  width: 100%;
}
.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer a:hover {
  color: #ffcc00;
}
